
    .logo{
        font-size: 25vh;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .L{
        font-size: 100vh;
        margin-top: 100px;
        margin-bottom: 100px;

    }
    
    